*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.meetingBody {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 244);
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  gap: 10px;
  padding: 0 8px;
}

.meetingMessage{
  position: absolute;
  height: 30px;
  width: 80%;
  /* padding: 5px 0; */
  border: 2px solid black;
  top: 10%;
  left: 12%;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 9fr 1fr;
  z-index: 110;
  align-items: center;
  overflow: hidden;
  box-shadow: 5px 5px 0px black;
  transform: translateY(0);
  transition: 0.2s ease;
}

.meetingMessage:hover{
  transform: translateY(-1.5px);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.748);
}

.meetingText{
  font-size: medium;
  color: #346739;
  margin-left: 5px;
}

.endBtn{
  padding: 0 3px;
  font-size: large;
  font-weight:500;
  height: 100%;
  border: none;
  background-color: rgba(255, 0, 0, 0.856);
  cursor: pointer;
  transition: 0.2s ease;
}

.endBtn:hover{
  color: white;
  background-color: red;
}

.reqManager{
  position: absolute;
  height: 30%;
  width: 30%;
  top: 30%;
  z-index: 105;
  right: 35%;
  background-color: white;
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-x: none;
  overflow-y: scroll;
  max-height: 30%;
  padding: 5px;
  transform: translateY(0);
  box-shadow: 8px 8px 0px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reqManager:hover{
  transform: translateY(-4px);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.755);
}

.req{
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  font-size: large;
  font-weight: 800;
}

.meetingBoard {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px black;
}

.meetingBtn{
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  padding: 0 10px;
  color: rgba(255, 0, 0, 0.856);
  transition: color 0.2s ease;
}

.meetingBtn:hover{
  color: #2d3436;
}

.section2 {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  gap: 10px;
  min-height: 0;  
  height: 100%;
}

.leftBtn{
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 101;
  display: none;
}

.rightBtn{
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 101;
  display: none;
}

.participants {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 0px black;
  background-color: white;
  padding: 5px;
  color: #2d3436;
  height: 100%;    
  max-height: 100%;
  overflow: hidden;
  gap: 20px;
  padding-top: 20px;
}

.participantsManager {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto; 
  flex-grow: 1;    
  min-height: 0; 
  gap: 15px;
  scrollbar-width: none;
}

.participantsHeader{
  font-size: large;
  font-weight: 800;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.leaderEle, .participantsEle {
  width: 100%;
  height: 60px;
  min-height: 60px; 
  z-index: 103;
  font-size: large;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  flex-shrink: 0;
  cursor: pointer;
}

.leaderElePic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}
.participantsElePic{
  height: 10px;
  width: 10px;
}
.reqTick{
  border-right: 1px solid black;
  color: #346739;
}
.section3{
  display: flex;
  justify-content: center;
  align-items: start;
}
.section3Container{
  background-color: white;
  height: 95%;
  width: 98%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 3px 3px 0px black;
  /* gap: 3px; */
  overflow: hidden;
  padding: 0;
}

.section3Container *{
  cursor: pointer;
  border: none;
  background-color: white;
  height: 100%;
  width: 100%;
  font-size: large;
  font-weight: 800;
  transition: 0.3s ease;
}

.section3Container *:hover{
  background-color: aliceblue;
}

.middleRight{
  background-color: white;
  height: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 0px black;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  overflow: hidden;
}

.groupChat, .doubts{
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 9fr 2fr;
  overflow: hidden;
  min-height: 0;
}

.doubtsParticipant{
  height: 50%;
  width: 100%;
  /* border-top: 2px solid black; */
  display: grid;
  grid-template-rows: 2fr 9fr;
  overflow: hidden;
  min-height: 0;
}

.groupChatHeader, .doubtsHeader{
  padding: 5px;
  font-size: large;
  font-weight: 800;
  background-color: white;
  border-bottom: 2px solid black;
  align-items: center;
}

.doubtsHeader{
  border-top: 2px solid #2d3436;
}

.groupChatInputContainer, .doubtsInputContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.groupChatInput{
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 5px;
  align-items: center;
  font-size: small;
  color: #2d3436;
  transition: 0.2s ease;
}

.groupBtn{
  background-color: white;
  border: 1px solid black;
  border-left: none;
  font-size: 14px;
  align-items: center;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  transition: 0.2s ease;
}

.control{
  margin: 0;
}

.groupChatContainer{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
  scrollbar-width: none;
  padding: 5px;
  gap: 5px;
}

.meetingChat{
  min-height: 50px;
  height: auto;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px black, inset 1px 1px 3px rgba(0, 0, 0, 0.216);
  word-break: break-word;
  overflow: hidden;
  flex-shrink: 0;
}

.meetingChat:hover .meetingChatName{
  font-size: medium;
  color: rgba(255, 0, 0, 0.856);
}

.meetingChatName{
  color: #346739;
  font-size: small;
  transition: 0.3s ease-out;
}

.meetingChatText{
  color: #2d3436;
}

.doubtBtnContainer{
  display: flex;
  background-color: red;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 105;
}

.doubtBtn, .doubtBtn0{
  border: none;
  border-radius: none;
  background-color: white;
  border: 1px solid black;
  height: 100%;
  flex: 1;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.doubtBtn{
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.doubtBtn0{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.doubtBtn:hover, .doubtBtn0:hover{
  color: #346739;
}
.doubtsContainer{
  position: relative;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}
.doubtsContainerIn{
  height: 100%;
  width: 100%;
  background-color: blue;
}
.viewerDoubtContainer{
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.doubtsMainBtn{
  width: 100%;
  z-index: 1;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid black;
}
.doubtsMainBtn *{
  border-radius: 0;
  border: none;
  margin: 0;
  background-color: white;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}
.pollSwitch{
  border-right: 1px solid black;
}
.pollSwitch:hover, .quesSwitch:hover{
  color: #346739;
}
.doubtPoll, .doubtQues{
  position: absolute;
  background-color: rgb(185, 221, 252);
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  overflow-y: scroll;
  min-height: 0;
  max-height: 100%;
  scrollbar-width: none;
  z-index: 5;
  gap: 3px;
}

.doubtPollInput{
  width: 100%;
  height: 100%;
  border: none;
  background-color: none;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: medium;
  align-items: center;
  outline: none;
  color: #2d3436;
}

.doubtBtnInput{
  width: 100%;
  min-height: 20%;
  border: none;
  background-color: none;
  border-bottom: 1px solid black;
  background-color: white;
  padding: 5px;
  align-items: center;
  color: #346739;
}

.doubtPoll{
  display: grid;
  grid-template-rows: 2fr 8fr;
}

.doubtQues{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.doubtQues h6{
  font-size: 11px;
  color: #346739;
}

.doubtQuesInp{
  width: 100%;
  height: 40px;
  outline: none;
  padding: 3px;
  color: #2d3436;
  font-size: medium;
  font-weight: 400;
}

.addDoubtBtnContianer{
  display: flex;
  flex-direction: column;
  padding: 0;
  border-top: 1px solid black;
}

.removeDoubtBtn, .addDoubtBtn{
  border: none;
  background-color: none;
  min-height: 20%;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: white;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.removeDoubtBtn:hover, .addDoubtBtn:hover{
  background-color: aliceblue;
}

.viewPoll, .viewQues{
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 0;
  background-color: white;
  scrollbar-width: none;
  flex: 1;
  padding: 5px;
}

.ansEle{
  min-height: 30px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 5px;
}

.expandQuesBtn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px;
  transition: 0.3s ease;
  cursor: pointer;
}

.sendAnsContainer{
  display: flex;
  flex-direction: row;
}

.sendAnsContainer input{
  height: 20px;
  margin: 3px 0;
  width: 70%;
  margin: 0;
  margin: 3px 0;
  border: 1px solid black;
  border-radius: 0px;
  border-right: none;
  background-color: white;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.sendAnsContainer button{
  color: #2d3436;
  width: 30%;
  height: 20px;
  margin: 0;
  margin: 3px 0;
  border: 1px solid black;
  border-radius: 0px;
  border-left: none;
  background-color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.3x ease;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.sendAnsContainer button:hover{
  color: rgba(255, 0, 0, 0.856);
}

.expandQuesBtn:hover{
  color: rgba(255, 0, 0, 0.856);
}

.ansValEle{
  display: flex;
  flex-direction: column;
}

.poll, .leaderPollViewDataTrue{
  border: 1px solid black;
  /* padding: 3px; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
}

.pollView{
  position: absolute;
  height: 10%;
  width: 10%;
  top: 0;
  right: 0;
  margin: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.pollView:hover{
  color: red;
}

.leaderPollView{
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  transform: scaleY(0);
  transform: translateY(-100%);
  background-color:azure;
  border: 2px solid black;
  z-index: 100;
  transform-origin: top;
  transition:  0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transistPollView{
  transform: translateY(0) scaleY(1);
  pointer-events: all;
  opacity: 1;
}

.pollMainQues, .checkPollHead{
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  padding: 5px;
  font-size: 16px;
  transition: 0.4s ease;
  flex-shrink: 0;
  color: black;
}

.pollMainQues:hover, .checkPollHead:hover{
  font-size: 18px;
  color: rgba(255, 0, 0, 0.856);
}

.pollOpt, .checkPollOpt{
  height: auto;
  background-color: white;
  border-top: 1px solid black;
  padding-left: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  flex-shrink: 0;
}

.pollOpt:hover, .checkPollOpt:hover{
  background-color: aliceblue;
}

.crossPoll{
  width: 100%;
  height: 5%;
  text-align: right;
  margin: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.crossPoll:hover{
  color: red;
}

.leaderPollViewData{
  height: 95%;
  width: 100%;
}

.leaderPollViewDataTrue{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 0;
}

.checkPollLeft{
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 0;
  flex: 1;
  scrollbar-width: none;
}

.checkPollRight{
  height: 100%;
  width: 0;
  transform-origin: right;
  background-color: rgb(185, 221, 252);
  transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid black;
  box-shadow: inset 1px -1px 8px rgb(23, 146, 253);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 0;
  visibility:hidden;
}

.transistCheckPollRight{
  padding: 5px;
  pointer-events: all;
  width: 50%;
  visibility: visible;
  gap: 5px;
}

.checkPollOpt{
  position: relative;
  border-bottom: 1px solid black;
  padding: 0;
}

.overlapCheckPoll{
  position: absolute;
  height: 100%;
  background-color: green;
  opacity: 0.5;
  pointer-events: none;
  margin: 0;
}

.viewUserArrEle{
  border: 1px solid black;
  height: 0;
  width: 0;
}

.viewUserArrEleTransist{
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 5px white, inset -1px -1px 5px rgb(196, 196, 196);
  height: 40px;
  width: 100%;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 400;
  color: #2d3436;
  cursor: pointer;
  transition: 0.3s ease;
}

.viewUserArrEleTransist:hover{
  color: rgba(255, 0, 0, 0.856)
}

.leaderPollViewDataFalse {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.quesListing{
  height: 100%;
  width: 100%;
  background-color: white;
  transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 0;
  scrollbar-width: none;
}

.quesListing.quesListingTransist{
  width: 50%;
}

.userAns{
  height: 100%;
  width: 50%;
  background-color: rgb(185, 221, 252);
  border-left: 1px solid black;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  border-top-left-radius: 5px;
  padding: 5px;
  overflow-y: scroll;
  transform-origin: right;
  transform: scaleX(0);
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.userAnsEle{
  min-height: 40px;
  width: 100%;
  flex-shrink: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px white, inset -1px -1px 5px rgb(196, 196, 196);
  padding: 5px;
}

.userAnsEle h4:hover{
  color: #2d3436;
  transition: 0.3s ease;
}

.userAnsEle h4:hover{
  color: rgba(255, 0, 0, 0.856);
}

.userAns.userAnsTransist {
  transform: scaleX(1);
  box-shadow: inset 1px -1px 8px rgb(23, 146, 253);
}

.quesListingEle{
  min-height: 30px;
  height: auto;
  width: 100%;
  flex-shrink: 0;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  /* align-items: center; */
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #2d3436;
  transition: 0.2s ease;
}

.quesListingEle:hover{
  background-color: aliceblue;
  font-size: 17px;
  color: rgba(255, 0, 0, 0.856);
}

.section1{
  height: 100%;
  width: 100%;
  transform: translateY(2px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 0;
  margin: 0;
}

.section1Container{
  margin: 0;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 5px 0px black;
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.section1Container div{
  height: 100%;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.section1Container div:last-child{
  border-right: none;
}

.exitMeeting{
  color: #2d3436;
  font-size: larger;
  cursor: pointer;
  transition: 0.3s ease;
}

.exitMeeting:hover{
  color: rgba(255, 0, 0, 0.856);
}

.meetingLogo{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.meetingLogoImg{
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scale(6);
  /* mix-blend-mode: multiply; */
}

@media screen and (max-width: 800px) {

  .meetingBoard{
    border: none;
    border-radius: none;
  }

  .reqManager{
    height: 50%;
    width: 80%;
    top: 30%;
    right: 10%;
  }
  .leftBtn,.rightBtn{
    display: block;
    height: 30px;
    width: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
  }
  .meetingBody{
    padding: 0;
    gap: 0;
  }
  .section2{
    position: relative;
    overflow: hidden;
    padding: 0;
    display: block;
  }
  .middleLeft{
    background-color: white;
    position: absolute;
    z-index: 99;
    inset: 0;
    border-right: 3px solid black;
    transform: translateX(-115%) rotate(-5deg);
    opacity: 0.7;
    transition: transform 0.45s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.25s ease;
  }
  .middleRight{
    background-color: white;
    position: absolute;
    inset: 0;
    transform: translateY(115%) rotate(4deg);
    opacity: 0.7;
    transition: transform 0.45s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.25s ease;
    border-top: 3px solid black;
    z-index: 100;
  }
  .showLeft{
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  .showRight{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  .meetingMessage{
    height: 50px;
  }
  .leaderPollView{
    top: 10%;
    right: 10%;
    height: 80%;
    width: 80%;
  }
}